@media (prefers-reduced-motion: no-preference)
{
   *{
   scroll-behavior: hard;
   }
}

html, body{
  line-height: 1;
}
nav{
  display: block;
  position: fixed;
}

#navbar {
  min-width: 295px;
  top: 0;
  left: 0;
  width: 340px;
  border-right: solid;
  border-color: grey;
  height: 100%;
}
#navbar ul{
  height: 92%;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  
}
#navbar li {
  color: grey;
  border-top: 2px solid;
  position: relative;
  width: 100%;
  font-family: sans-serif;
  display: block;
  padding-bottom: 4px;
  font-size: 1.4rem;
  text-align: center;
  
}
#navbar a{
  display: block;
  padding: 10px 30px;
  color:  grey;
  text-decoration: none;
  cursor: pointer;
}
main{
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  left: 0;
  margin-left: 21.35rem;
  padding: 20px;
  background-color: black;
  color: lightgrey;
  font-family: math;
  font-weight: thin;
  font-size: 1.2rem;
}
header:not(.nav-header) {
   font-weight: thin;
   font-family: Arial !important;
   display: block; 
   text-decoration: underline #9ca996 ;
   text-align: center;
   font-size: 3rem 
}

nav header {
   font-weight: thin;
   font-family: Arial !important;
   display: block;
   margin: 5px;
   font-size: 2.5rem;
   text-align: center;

}
p, h1, h4{
  margin: 30px;
  display: block;
}

section li {
  margin-left: 30px;
  margin-bottom: 20px;
}

code {
   background-color: #edebeb;
   display: block;
   color: #717171;
   border-radius: 1px;
   border: 8px solid grey;
   padding: 12px;
   margin: 0 auto;
   position: relative;
   overflow-x: auto;
}

span {
  font-family: monospace;
  background-color: #f1f1f1;
  color: crimson;
  border-radius: 2px;
  font-weight: thin !important;
}

label {
  display: block;
  color: green;
}

strong {
  color: white;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div img{
    max-width: 80%;
    max-height: 85%;
    border-radius: 7px;
    border: 2px solid white;
    padding: 7px;
}

a:not(.nav-link, .header) {
  color: white;
  text-decoration: underline;
}

.break-switch{
  color: #fa6060;
  text-decoration: none;
}

.green {
  color: #1dc53e !important;
  background-color: #edebeb;
}

h1 {
  text-decoration: underline;
  color: white;
  font-size: 1.5rem;
  display: block;
}

section {
  border: 1px solid white ;
  padding: 20px;
  margin-bottom: 20px;
}

h3 {
  margin: 10px 30px;
  color: white;
}

@media only screen and (max-width: 820px) {

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    display: block;
   }

  #main-doc {
    position: relative;
    margin: 343px 0 0 0;
    padding: 10px;
   }

   #navbar ul{
     border: 3px solid grey;
     overflow-y: scroll;
     overflow-x: hidden;
   }

   p, h1, h3 {
     margin-left: 0;
     margin-right: auto;  
   }

   #navbar header {
     padding: 12px;
   }

   code, span {
     font-size: 16px;
   }

   .nav-header{
     font-size: 2.2rem;
   }

   header:not(.nav-header) {
     font-size: 2.3rem
   }
}

@media only screen and (max-width: 380px) {
  .nav-header{
    font-size: 1.8rem;
  }

  header:not(.nav-header) {
    font-size: 2rem;
  }

  p, h1, h4{
    font-size: 1.1rem;
  }

  section li{
    font-size: 1rem;
    margin: auto 0px 14px
  }

  code, span {
     font-size: 12px;
   }

   #nav-ul li {
     font-size: 1.3rem;
   }

   div img {
     max-width: 100%;
   }
}
